/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

/* Login Page */
.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container form {
    display: flex;    /* flex property automatic allignment wgera ker dati hai text ya elements ki*/     
    flex-direction: column;
}

.login-container label {
    margin: 10px 0 5px;
}

.login-container input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    margin-top: 15px;
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: darkgreen;
}
